@page
@model ChangePasswordModel
@{
    ViewData["Title"] = "Change password";
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
}

<partial name="_StatusMessage" for="StatusMessage" />
<form id="form" method="post">
    <div class="type2">@ViewData["Title"]</div>
    <div asp-validation-summary="All" class="text-danger"></div>
        <label asp-for="Input.OldPassword"></label>
        <input asp-for="Input.OldPassword" />
        <span asp-validation-for="Input.OldPassword" class="text-danger"></span>
                
        <label asp-for="Input.NewPassword"></label>
        <input asp-for="Input.NewPassword" />
        <span asp-validation-for="Input.NewPassword" class="text-danger"></span>


        <label asp-for="Input.ConfirmPassword"></label>
        <input asp-for="Input.ConfirmPassword" />
        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>

        <button class="button" id="change-password-button" type="submit" asp-page-handler="ChangePassword">
            <span class="buttonspan">
                Update password
            </span>
        </button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}