@page
@model PersonalDataModel
@{
    ViewData["Title"] = "Personal Data";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<div class="form">
    <div class="type2">@ViewData["Title"]</div>
    <p>Your account contains personal data that you have given us. This page allows you to download or delete that data.</p>

    <form id="download-data" asp-page="DownloadPersonalData" method="post" class="form">
        <button class="button" type="submit">
            <span class="buttonspan">
                Download
            </span>
        </button>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}