
.type2 {
    font-size: 40px;
    font-weight: 900;
    margin: 40px 40px 15px;
}

.compose {
    width: 98%;
    margin-left: 1%;
    margin-bottom: 1%;
}

.header {
    font-weight: bold;
    color: darkgrey;
}

.heart {
    font-size: 80px;
    margin-right: 40px;
    margin-top: 5px;
    color: #e63c3c;
    cursor: pointer;
}

.topic {
    display: flex;
    flex-wrap: nowrap;
    align-content: stretch;
    justify-content: space-between;
}