
.type2[b-olrpc8pq57] {
    font-size: 40px;
    font-weight: 900;
    margin: 50px 40px 40px;
}

.eula[b-olrpc8pq57] {
    color: #999;
    font-size: 14px;
    line-height: 1.5;
    margin: 40px;
}
